.navigation {
  font-size: 22px;
  margin: 50px 10%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  background-color: var(--backgroundGreen);
  border-radius: 25px;
  color: white;
}

.navigation img {
  margin: -5px 15px;
  position: absolute;
  height: 90px;
}

.navButtons {
  display: flex;
  flex-direction: row;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 13px 20px;
  margin: 10px 0;
  color: var(--white);
  border-left: var(--detailGreen) 2px solid;
}

.navItem i {
  padding: 5px;
}