.previewBlock {
  contain: content;
  width: 18vw;
  min-width: 250px;
  border-radius: 25px;
  background-color: var(--detailGreen-low);
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 var(--black-low), 0 6px 20px 0 var(--black-low);
}

.imagePart {
  height: auto;
}

.imagePart img {
  width: 100%;
}

.previewText {
  padding: 10px;
  min-height: 80px;
}

.previewTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--backgroundGreen);
}

.previewDetail {
  color: var(--detailGreen);
  padding: 4px;
}