/* You can add global styles to this file, and also import other style files */
@import url(./css/app.css);
@import url(./css/navigation.css);
@import url(./css/footer.css);
@import url(./css/filterPage.css);
@import url(./css/recipe-preview.css);
@import url(./css/filterSystem.css);

* {
  margin: 0;
  font-family: roboto;
}

a,
button,
input {
  all: unset;
}

:root {
  --backgroundGreen: #046a38;
  --detailGreen: #39b022;
  --quickGreen: #cdecc6e0;
  --detailGreen-darkerlow: #39b0214d;
  --detailGreen-low: #39b02220;
  --white: #fff;
  --black-low: #00000033;
}